[submodule "src/main/jni/opus"]
	path = src/main/jni/opus
	url = https://github.com/SandboxVR/opus
[submodule "src/main/jni/speex"]
	path = src/main/jni/speex
	url = https://github.com/xiph/speex
[submodule "libs/humla-spongycastle"]
	path = libs/humla-spongycastle
	url = https://gitlab.com/quite/humla-spongycastle.git
	branch = pkcs12-keybag-fixes
[submodule "src/main/jni/rnnoise"]
	path = src/main/jni/rnnoise
	url = https://github.com/SandboxVR/rnnoise
